*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.hero{
    width:100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2d2c2c;
    position: relative;
}
.hero h1{
    font-size: 30px;
    color:white;
    margin-bottom: 10px;
}
span{
    color: rgb(242, 43, 29);
    font-size: 34px;
    text-shadow: 2px 2px 1px rgb(81, 48, 48);
}
textarea{
    width:440px;
    height:280px;
    padding:18px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #2b3c58;
    color:white;
    font-weight: 400;
    letter-spacing: 1px;
    resize: none;
    
}
textarea::placeholder{
    color:white;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:440px; margin-top: 10px;
    gap:10px;
    
}
select{
    padding:7px 10px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 20px;
    color:white;
    background: #403d84;
    text-align: left;
}
button{
    font-size: 13px;
    padding:7px 20px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 20px;
    color:white;
    background: #f9092d;
    cursor: pointer;
}
